build/
**/build/
CMakeFiles/
**/CMakeFiles/
CMakeCache.txt
**/CMakeCache.txt
cmake_install.cmake
**/cmake_install.cmake
compile_commands.json
**/compile_commands.json
*.map
*.elf
*.hex
*.bin
*.uf2
*.list
*.su
*.o
*.obj
*.d
*.log
.vscode/.cmaketools.json
**/.vscode/.cmaketools.json
MDK-ARM/
**/MDK-ARM/
EWARM/
**/EWARM/
Core/Inc/Backup/
Core/Src/Backup/
**/Core/Inc/Backup/
**/Core/Src/Backup/
